body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e6ff;
}

.welcome {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
 
  border-radius: 5px;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#fileInput {
  margin: 10px 0;
}

#output {
  margin: 10px 0;
  padding: 10px;
 
  border-radius: 5px;
}

canvas {
  width: 100%;
  height: auto;
  margin: 20px 0;
 
  border-radius: 5px;
}

p {
  color: #666;
}

.navbar-container {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 100%;
  background-size: cover;
  filter: drop-shadow(0px 0px 10px rgba(11, 11, 11, 0.6));

}

.logo {
  max-width: 55px; 
  height: auto; 
  margin: 3px;
  margin-left: 25px;

}

.head {
  margin-left: 8px;
  font-size: 2.0rem;
  font-weight: 600;
 /* color: navy;*/
 color: #fff;
  text-shadow: 2px 2px 5px rgb(20, 20, 20);
  
}
.head1 {
  display: none;
  margin-left: 5px;
  font-size: 3.0rem; 
  font-weight: 900;
  /* color: navy;*/
 color: #fff;
  text-shadow: 2px 2px 5px rgb(24, 24, 24);
}
.head2 {
  display: none;
  margin-left: 3px;
  font-size: 2.0rem; /* Adjust the font size for the heading */
  font-weight: 900;
  /* color: navy;*/
 color: #fff;
  text-shadow: 2px 2px 5px rgb(15, 15, 15);
}

/* Styles for the navigation links */
.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar-link {
  margin: 0 10px; /* Adjust the spacing between links */
  text-decoration: none;
  font-size: 1.0rem;
    font-weight: 600;
    /* color: navy;*/
  color: #fff;
    transition: all 0.3s;
    margin: 0 20px rgb(19, 19, 19);
    text-shadow: 2px 2px 5px rgb(17, 17, 17);
    padding: 5px;

}
.navbar-link:hover,
.navbar-link:active {
  color: #fff7e0;
}
.navbar-link:after{
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width:0%;
  left:0;
  bottom:-8px;
  transition: 0.4s;
}
.navbar-link {
  position: relative;
  text-decoration: none;

}
.navbar-link:hover:after{
  width:100%;
}

/* Styles for the mobile navigation button/icons */
.mobile-navbar-btn {
  display: none; /* Initially hide the mobile navigation button */
}

.mobile-nav-icon {
  font-size: 24px; /* Set the icon size */
  cursor: pointer;
   /*color: navy; */
   color: #fff;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.navbar-scrolled{
  background-color:orange ;
  box-shadow:0 3px 10px rgba(0,0,0,0.15);
}


.dropdown{
display: block;
position: absolute;
margin: 2px;
background-color: #1d398e;
width: 10%;
height: max-content;

}
.navbar-link ul li :hover.dropdown{
display: block;
opacity: 1;
}

.dropdown ul {
display: none; /* Hide the dropdown initially */
margin: 0; /* Reset margin */
padding: 0;
list-style: none; /* Remove default list styles */
background-color: #1d398e; /* Background color */
border: 1px solid #ddd; /* Border for the dropdown */
border-radius: 5px; /* Rounded corners */
position: absolute; /* Position it relative to the parent li */
top: 10px; /* Adjust the position relative to the parent */
z-index: 1; /* Ensure it's above other elements */
}

.dropdown ul li {
padding: 6px;
text-align: center;
}

.register:hover .dropdown ul {
display: block; /* Show the dropdown on hover */
}

.fas {
float: right;
margin-left: 3px;
padding-top: 3px;
}
.fa-solid{

margin-right: 5px;

}
.register {
padding: 8px;

background-color: #1d398e; /* Background color */
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) ;
}
.dropdown .navbar-link:after{
bottom:-2px;
background-color:  #ffffff;

}
/* ===========================================
Responsive navbar
======================================= */


/* 980px  */
@media (max-width: 1240px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    justify-content: right;
  }

  .header {
    position: fixed;
    width: 100%;
  }
  .head{
    display: none;
  }

  .logo {
    max-width: 45px;
    margin-left: 15px;
  }

  .navbar {
     display: none;
    width: 100%;
    height: 100vh;
    background: black;
   
    background:rgba(0,0,0,0.8);

    
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
    
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  
    font-size: 1.5rem;
    font-weight: 600;
     /*color: navy; */
     color: #fff;
    transition: all 0.3s;
    margin: 0 20px; /* Adjust the spacing between links as needed */
   
  }
  
  .navbar-link:hover,
  .navbar-link:active {
    color:  #fff7e0;
  }


  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .head1{
    display:block;
    font-size: 2.2rem;
  }
}

@media (max-width: 370px){
   .head1{
   display: none;
   }
   .head2{
    display: block;

   }
   .logo{
    max-width: 35px;
   }

   
}
/* Responsive adjustments */
@media screen and (max-width: 1240px) {
  .chart-container {
    max-width: 100%; /* Adjusted for full width on smaller screens */
  }

  .navbar-list {
    flex-direction: column;
    text-align: center;
  }

  .navbar-link {
    margin: 10px 0;
  }

  .mobile-navbar-btn {
    display: block;
  }
}

@media screen and (max-width: 370px) {
  .logo {
    max-width: 35px;
  }

  .head1 {
    display: none;
  }

  .head2 {
    display: block;
  }
}

/* Footer Responsive Styles */
.footer {
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  padding: 20px;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.footer-items > * {
  margin: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
}

@media screen and (max-width: 600px) {
  .footer-items {
    flex-direction: column;
    align-items: center;
  }
}

/* End of Footer Responsive Styles */

/* Additional Responsive Styles */
@media screen and (max-width: 660px) {
  .chart-container {
    width: 80%; /* Adjusted for better readability on smaller screens */
  }
}

.chart-container {
  width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 10px; 
  background-color: rgba(95, 95, 95, 0.249);
}

h2 {
  color: #333;
}

p {
  color: #666;
}
/* Style for file input */
#fileInput {
  margin: 10px 0;
}

/* Style for the output container */
#output {
  margin: 10px 0;
  padding: 10px;

  border-radius: 5px;
}

/* Style for the canvas */
#myChart {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  height: auto;
  margin: 20px 0;
 
  border-radius: 5px;
}

/* FOOTER CSS */


body {
  margin: 0;
  padding: 0;
 margin: 0;
}

.footer {
  width: 100%;
  
  color: #3a3a3a;
  text-align: center;
  padding: 20px;

}
.footer-bottom h2{
  color: #303030;
}
.footer-bottom p{
  color: #4d4d4d;
}
.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-items > * {
  margin: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
}
.svg{
  color: #3a3a3a;
}

@media screen and (max-width: 600px) {
  .footer-items {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }
}


@media screen and (min-width: 660px) {
  .scroll-top-button {
    min-width: 200px;
  }

  .scroll-top-button {
    margin-top: 50px;
  }
  
}




/* for tablet mode view */
@media screen and (max-width: 900px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */
@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }  .welcome{
    margin-top: 12vh;
  }

  .scroll-top-button {
    float: none;
    margin: auto;
    margin-top: 50px;
  }
}

@media screen and (min-width: 900px) {
  .scroll-top-button {
    margin-top: 100px;
  }
}

@media screen and (min-width: 900px) {
  .brdr-left {
    border-left: 2px solid var(--accent) !important;
  }
}

.boards-footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.boards-footer-flex>a {
  margin: 0 4px;
}

.boards-footer-flex>a:last-child {
  margin-right: 0;
}

.footer-bottom{
  font-family: 'Inter';
}

  